html,
body {
  width: 100%;
}

body {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, “Roboto”, “Droid Sans”, “Helvetica Neue”, Helvetica, Arial, sans-serif;
  min-height: 50vh;
  width: 100%;
  background: url(../img/fri21-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*opacity: .9;*/
}

a {
  color: #0000ff;
  /* color: #fdcc52; */
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

a:hover,
a:focus {
  color: #006600;
  /* color: #fcbd20; */
}

.btn h2 {
  margin-bottom: 0;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
}
.center-white {
  text-align: center;
  color: white;
}

.left-white {
  text-align: left;
  color: white;
}

.btn-success {
  text-align: center;
  /* color: #5cb85c; */
}

.btn-warning {
  text-align: center;
  /* color: #f0ad4e; */
}
.btn-danger {
  text-align: center;
  /* color: #d9534f; */
}

.btn-default {
  background-color: #68889e;
  color: #fff;
  border-color: #2f3e48;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-color: #2f3e48;
  color: #fff;
  border-color: #31347b;
}

main .centered {
  text-align: center;
}

section {
  padding: 100px 0;
}

section h2 {
  font-size: 50px;
}

main .v-align {
  align-items: center;
}

main .content {
  max-width: 700px;
  margin-bottom: 100px;
  text-align: center;
}

main .content h1 {
  font-size: 30px;
  text-align: center;
}

main .dot-border {
  border-color: white;
  /* border-style: dotted; */
  border-style: none;
}

main .dot-border-red {
  border-color: red;
  /*border-style: dotted;*/
  border-style: none;
}

main .dot-border-green {
  border-color: green;
  /*border-style: dotted;*/
  border-style: none;
}

main .green {
  color: green;
}

main .red {
  color: red;
}

main ul {
  font-size: 1.2rem;

  /* color: red; */
}
main lh {
  font-weight: bold;
}

header.masthead {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: black;
  background: #ff9900;
  background: -webkit-linear-gradient(#ff9900, #ffffcc);
  background: linear-gradient(#ff9900, #ffffcc);
}

header .header-content {
  max-width: 1500px;
  margin-bottom: 10px;
  margin-top: 30px;
  text-align: center;
}

header .header-content h1 {
  font-size: 75px;
  text-align: center;
}

header.masthead .device-container {
  max-width: 325px;
  margin-right: auto;
  margin-left: auto;
}

header.masthead .device-container .screen img {
  border-radius: 3px;
}

@media screen and (max-width: 768px) {
  header.h1 {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  header.masthead .header-content h1 {
    font-size: 50px;
  }
  header.masthead .device-container {
    max-width: 325px;
  }
}

footer {
  padding: 25px 0;
  text-align: center;
  /* color: rgba(255, 255, 255, 0.3); */
  /* background-color: #222222; */
  background: #444444;
  background: -webkit-linear-gradient(#444444, #111111);
  background: linear-gradient(#444444, #111111);
  /*background: #ff9900;
  background:  -webkit-linear-gradient(#ffffcc, #ff9900);
  background: linear-gradient(#ffffcc, #ff9900);*/
}

footer p {
  font-size: 12px;
  margin: 0;
}

footer ul {
  margin-bottom: 0;
}

footer ul li a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}

footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active,
footer ul li a.active {
  text-decoration: none;
}

.bg-primary {
  background: #fdcc52;
  background: -webkit-linear-gradient(#fdcc52, #fdc539);
  background: linear-gradient(#fdcc52, #fdc539);
}

.text-primary {
  color: #fdcc52;
}
